# Powerful One-Liners in Python

##1.Prime Numbers

In [1]:
#prime number 1 to 200
Prime=list(filter(lambda x:all(x%y!=0 for y in range(2,x)),range(2,200)))
#this program have list comprehension with Lambda function to get all prime numbers 
#from 1 to 200 (1 is not a prime number basic maths knowledge)

In [2]:
print(Prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [5]:
#Also print them in one ;ine
print(list(filter(lambda x:all(x%y!=0 for y in range(2,x)),range(1,200))))

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

##2.Swap Two Numbers

In [10]:
n1=6
n2=8
n1,n2=n2,n1 #swap in one line
print("n1=",n1,"n2=",n2)

n1= 8 n2= 6

##3.Reverse a string

In [15]:
myName='TehsinBhati'
reversed_string= myName[::-1]
print("reversed string=",reversed_string)
#also print in one line
print("Print=",myName[::-1])

reversed string= itahBnisheT
Print= itahBnisheT

##4.Factorial of a number

In [32]:
#n=5 
n=int(input('Enter Number: '))
fact= lambda n:[1,0][n>1] or fact(n-1)*n 
print('Factorial of',n,' is =',fact(n))

Enter Number: 5
Factorial of 5  is = 120

##5.String Palindrome

In [36]:
input_string=input("Enter String:")
palindrome=input_string == input_string[::-1]
print(palindrome)

Enter String:level
True